Source: wxlame
Section: sound
Priority: optional
Maintainer: Cristiano Nunes <cfgnunes@gmail.com>
Build-Depends: debhelper (>= 9), libwxgtk2.8-dev
Standards-Version: 3.9.3
Homepage: http://sourceforge.net/projects/wxlame/

Package: wxlame
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}, lame (>= 3.98.2)
Description: Free front-end for the LAME MP3 encoder
 wxLame is a free front-end for the LAME MP3 encoder.
