[Desktop Entry]
Encoding=UTF-8
Name=wxLame
Comment=Free front-end for the LAME MP3 encoder.
Exec=wxlame
Icon=wxlame
Categories=AudioVideo;Audio;
Terminal=false
Type=Application
Version=1.0
