[Desktop Entry]
Name=wxLame
Comment=A free front-end for the LAME MP3 encoder.
Exec=wxlame
Icon=wxlame
Categories=AudioVideo;Audio;
Terminal=false
Type=Application
